/*body {
    display: flex;
    flex-direction: column;}*/
.container{
    align-content: center;
    position: relative;
}
.t1 {
    font-family: monospace;
    font-weight: 1000;
    color:#201f1f;
    position: absolute;
}
img{
    position: absolute;
}
.t2 {
    font-family: monospace;
    font-weight: 1000;
    color:#201f1f;
    position: absolute;
}
.p1 {
    font-family: monospace;
    font-weight: 500;
    color:#3b3939;
    position: absolute;
}
button {
    background-color: #333333;
    font-family: monospace;
    color: white;
    position: absolute;
}
.p2 {
    font-family: sans-serif;
    font-weight: 100;
    color:rgb(212, 200, 200);
    position: absolute;
}
.subp{
    text-decoration: underline;
}


@media (min-width: 375px){
    .container{
        width: 750px;
        height: 2000px;
    }
    .t1{
        font-size: 40px;
        left: 20px;
    }
    img{
        width: 750px;
        height: 600px;
        top: 170px;
        left: 80px;
    }
    .t2{
        font-size: 100px;
        top: 800px;
        left: 50px;
        width: 900px;
    }
    .p1{
        font-size: 50px;
        top: 1150px;
        left: 50px;
        width: 900px;
    }
    button{
        font-size: 35px;
        top: 1450px;
        left: 50px;
        width: 500px;
        height: 160px;
    }
    .p2{
        font-size: 30px;
        left: 25%;
        bottom: 20px;
        width: 750px;
    }
    /*body{
        background-color: aquamarine;
    }*/
}
@media (min-width: 1440px){
    .container{
        width: 1440px;
        height: 1100px;
    }
    .t1{
        font-size: 30px;
        top: 10px;
        left: 70px;
    }

    img{
        width: 600px;
        height: 500px;
        top: 300px;
        left: 70px;
    }
    .t2{
        font-size: 70px;
        top: 230px;
        left: 750px;
        padding: 1px, 1px, 1px, 1px;
        width: 600px;
    }
    .p1{
        font-size: 30px;
        top: 500px;
        left: 760px;
        padding: 1px, 1px, 1px, 1px;
        width: 450px;
    }
    button{
        font-size: 15px;
        top: 700px;
        left: 760px;
        width: 200px;
        height: 80px;
    }
    .p2{
        font-size: 20px;
        left: 37%;
        bottom: 20px;
    }
    /*body{
        background-color: blueviolet;
    }*/
}